<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>Blockchain  <button (click)="mine()">Mine</button></h2>
  <ul style="display: inline-block">
    <li style="display: inline-block"[routerLink]="['connection']">Connection</li>
    <li style="display: inline-block"[routerLink]="['send-transaction']">Send Transaction</li>
    <li style="display: inline-block">Setup</li>
  </ul>
</div>
<router-outlet></router-outlet>
<ul>
  <li>
    Pending Transactions: {{blockchain.pendingTransactions.length}} <br>
    Nodes Connected: {{blockchain.networkNodes.length}} <br>
    Blocks Mined: {{blockchain.chain.length}}
  </li>
  <li><hr /></li>
  <li *ngFor="let block of blockchain.chain">
    Transactions: {{block.transactions.length}}<br>
    Hash: {{block.hash}}<br>
  </li>
</ul>
